root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffb510;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #232323;
  --bs-black:var(--bs-dark)
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.jumbotron {
  background-image: url(https://cdn.videvo.net/videvo_files/video/free/2019-03/small_watermarked/190111_08_BuildingsTrafic_Drone_09_preview.webm);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

li a {
  color: #ffb510;
  font-size: 0.8rem;
  padding: 0.6rem !important;
  width: 100%;
}

button a {
  text-decoration: none;
  color: black;
}

/*** T H E - M A G I C - O F - O B J E C T - F I T ***/
/*****************************************************/
.video-container {
  height: 30rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 600px) {
  .video-container {
    height: 100vh;
  }
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*** A E S T H E T I C S ***/
/***************************/
* {
  box-sizing: border-box;
}

body {
  background: #232323;
}

.video-container:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1;
  font-family: Futura, Helvetica, sans-serif;
  font-size: 5vw;
}
@media (max-width: 400px) {
  h1 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 75px;
  }
}

.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.support {
  position: fixed;
  bottom: 60px;
  right: 20px;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: right;
  position: relative;
  z-index: 10;
}
.support a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.support a:before {
  display: block;
  position: absolute;
  content: "";
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.support a:hover:before {
  width: 100%;
}

#navbarHeader{
  background-color:#232323 !important;
}

main{
  background-color: #232323;
}

#album{
  background-color: #232323;
}